body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:314px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:57px;
  top:57px;
  width:190px;
  height:21px;
  font-family:'SimHei', 'SimHei';
  font-size:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:21px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:120px;
  top:22px;
  width:86px;
  height:16px;
  font-family:'SimHei', 'SimHei';
  font-size:14px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:64px;
  top:90px;
  width:181px;
  height:62px;
  font-size:54px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:62px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:4px;
  top:175px;
  width:310px;
  height:85px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:85px;
}
#u7 {
  position:absolute;
  left:2px;
  top:34px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:13px;
  top:184px;
  width:55px;
  height:56px;
  font-family:'SimHei', 'SimHei';
  font-size:18px;
  line-height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:56px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:122px;
  top:3px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:250px;
  top:190px;
  width:49px;
  height:24px;
  font-family:'SimHei', 'SimHei';
  font-size:16px;
  line-height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:134px;
  top:220px;
  width:169px;
  height:18px;
  font-family:'SimHei', 'SimHei';
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:4px;
  top:277px;
  width:310px;
  height:50px;
  font-family:'SimSun', 'SimSun';
  font-weight:400;
  font-size:24px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:50px;
}
#u16_img.mouseDown {
}
#u16.mouseDown {
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:14px;
  top:6px;
  width:55px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:410px;
  width:275px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:15px;
  color:#666666;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
