body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:315px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:5px;
  top:262px;
  width:310px;
  height:255px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:255px;
}
#u1 {
  position:absolute;
  left:2px;
  top:120px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:9px;
  top:285px;
  width:300px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u3 {
  position:absolute;
  left:9px;
  top:390px;
  width:300px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u4 {
  position:absolute;
  left:14px;
  top:268px;
  width:73px;
  height:21px;
  font-family:'SimHei', 'SimHei';
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:260px;
  top:268px;
  width:46px;
  height:21px;
  font-family:'SimHei', 'SimHei';
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:300px;
  width:86px;
  height:86px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:86px;
}
#u9 {
  position:absolute;
  left:2px;
  top:35px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:111px;
  top:320px;
  width:185px;
  height:17px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:111px;
  top:366px;
  width:38px;
  height:23px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:161px;
  top:369px;
  width:26px;
  height:18px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:15px;
  top:11px;
  width:25px;
  height:25px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:125px;
  top:14px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:5px;
  top:527px;
  width:310px;
  height:353px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:353px;
}
#u21 {
  position:absolute;
  left:2px;
  top:168px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:9px;
  top:564px;
  width:300px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u23 {
  position:absolute;
  left:14px;
  top:541px;
  width:73px;
  height:21px;
  font-family:'SimHei', 'SimHei';
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:8px;
  top:52px;
  width:154px;
  height:21px;
  font-family:'SimHei', 'SimHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:21px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:237px;
  top:53px;
  width:73px;
  height:21px;
  font-family:'SimHei', 'SimHei';
  font-size:18px;
  color:#3399FF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:5px;
  top:82px;
  width:310px;
  height:173px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:173px;
}
#u30 {
  position:absolute;
  left:2px;
  top:78px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:14px;
  top:154px;
  width:81px;
  height:18px;
  font-family:'SimHei', 'SimHei';
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:95px;
  top:149px;
  width:205px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  line-height:24px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:48px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:96px;
  top:206px;
  width:184px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  line-height:24px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:36px;
  top:113px;
  width:55px;
  height:21px;
  font-family:'SimHei', 'SimHei';
  font-size:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:96px;
  top:106px;
  width:48px;
  height:28px;
  font-size:24px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:28px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:147px;
  top:111px;
  width:75px;
  height:18px;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:28px;
  top:211px;
  width:65px;
  height:18px;
  font-family:'SimHei', 'SimHei';
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:10px;
  top:406px;
  width:86px;
  height:86px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:86px;
}
#u46 {
  position:absolute;
  left:2px;
  top:35px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:111px;
  top:422px;
  width:189px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  line-height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:110px;
  top:473px;
  width:38px;
  height:23px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:160px;
  top:477px;
  width:26px;
  height:18px;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:18px;
  top:594px;
  width:10px;
  height:220px;
}
#u53_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u53_end {
  position:absolute;
  left:-5px;
  top:203px;
  width:20px;
  height:18px;
}
#u53_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:220px;
}
#u54 {
  position:absolute;
  left:16px;
  top:590px;
  width:22px;
  height:16px;
}
#u55 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u56 {
  position:absolute;
  left:38px;
  top:587px;
  width:232px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  line-height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:17px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:15px;
  top:656px;
  width:22px;
  height:16px;
}
#u59 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60 {
  position:absolute;
  left:37px;
  top:653px;
  width:232px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  line-height:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:17px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:16px;
  top:733px;
  width:22px;
  height:16px;
}
#u63 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u64 {
  position:absolute;
  left:38px;
  top:730px;
  width:232px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  line-height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:17px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:15px;
  top:804px;
  width:22px;
  height:16px;
}
#u67 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u68 {
  position:absolute;
  left:37px;
  top:801px;
  width:232px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  line-height:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
