body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:6px;
  top:0px;
  width:315px;
  height:315px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:315px;
}
#u1 {
  position:absolute;
  left:2px;
  top:150px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:6px;
  top:313px;
  width:315px;
  height:327px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:327px;
}
#u3 {
  position:absolute;
  left:2px;
  top:156px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:14px;
  top:6px;
  width:300px;
  height:300px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u5 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:15px;
  top:325px;
  width:285px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:15px;
  top:354px;
  width:277px;
  height:46px;
  color:#FF9900;
  line-height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:46px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:13px;
  top:403px;
  width:285px;
  height:162px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  line-height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:162px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:12px;
  top:575px;
  width:305px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:288px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:305px;
  height:1px;
}
#u13 {
  position:absolute;
  left:12px;
  top:592px;
  width:49px;
  height:15px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:63px;
  top:589px;
  width:68px;
  height:23px;
  font-size:20px;
  color:#CC0000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:12px;
  top:612px;
  width:93px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:200px;
  top:592px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:14px;
  top:615px;
  width:90px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
#u22 {
  position:absolute;
  left:6px;
  top:650px;
  width:315px;
  height:315px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:315px;
}
#u23 {
  position:absolute;
  left:2px;
  top:150px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:6px;
  top:963px;
  width:315px;
  height:327px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:327px;
}
#u25 {
  position:absolute;
  left:2px;
  top:156px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:14px;
  top:656px;
  width:300px;
  height:300px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u27 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:15px;
  top:975px;
  width:285px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:15px;
  top:1004px;
  width:277px;
  height:46px;
  color:#FF9900;
  line-height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:46px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:13px;
  top:1053px;
  width:285px;
  height:162px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:14px;
  line-height:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:162px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:12px;
  top:1225px;
  width:305px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:288px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:305px;
  height:1px;
}
#u35 {
  position:absolute;
  left:12px;
  top:1242px;
  width:49px;
  height:15px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:63px;
  top:1239px;
  width:68px;
  height:23px;
  font-size:20px;
  color:#CC0000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:12px;
  top:1262px;
  width:93px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:200px;
  top:1242px;
  width:100px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:14px;
  top:1265px;
  width:90px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:90px;
  height:1px;
}
