.container{background-color: #ffffff;font-size: 20px;font-weight: bold;}
.member_title{float: left;width: 100%;height: 40px;line-height: 40px;background-color: #ff6634;}
.member_title_left{float: left;height: 40px;line-height: 40px;color: #fff;font-weight: bold;margin-left: 10px;}
.coupon_li{float: left;width: 96%;margin-top: 10px;margin-left: 2%;}
.coupon_li_top{float: left;width: 100%;border: 1px solid #cfcfcf;}
.coupon_li_left{float: left;width: 70%;}
.name{float: left;margin-left: 1%;width: 98%;height: 30px;line-height: 30px;color: #000000;font-weight: bold;}
.time{float: left;margin-left: 1%;width: 98%;height: 30px;line-height: 30px;color: #999999;font-size: 16px;}
.coupon_li_right{float: right;width: 30%;height: 60px;line-height: 60px;}
.amount{float: left;width: 60%;color: #cc3333;}
.up{float: left;width: 40%;color: #999999;text-align: center;font-size:16px;font-weight: bold;display: none;}
.ub{float: left;width: 40%;color: #999999;text-align: center;font-size:16px;font-weight: bold;}
.coupon_li_bottom{float: left;width: 100%;border: 1px solid #cfcfcf;height: 160px;background-color: #f0f0f0;display: none;}
.pwd{float: left;width: 98%;margin-left: 1%;margin-top: 10px;height: 30px;line-height: 30px;color: #333333;}
.remarks{float: left;width: 98%;margin-left: 1%;color: #666666;height: 120px;line-height: 18px;word-break:break-all;overflow:hidden;}

