body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:315px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:15px;
  top:11px;
  width:25px;
  height:25px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:125px;
  top:14px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:5px;
  top:43px;
  width:310px;
  height:147px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:147px;
}
#u5 {
  position:absolute;
  left:2px;
  top:66px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:46px;
  top:90px;
  width:205px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  line-height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:48px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:50px;
  top:147px;
  width:184px;
  height:24px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  line-height:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:9px;
  top:70px;
  width:300px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u11 {
  position:absolute;
  left:45px;
  top:51px;
  width:136px;
  height:19px;
  font-family:'SimSun-ExtB', 'SimSun-ExtB';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:112px;
  top:494px;
  width:86px;
  height:15px;
  font-family:'LucidaSans', 'Lucida Sans';
  font-size:28px;
  color:#999999;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:107px;
  top:525px;
  width:97px;
  height:15px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:18px;
  top:103px;
  width:22px;
  height:22px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u18 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:280px;
  top:121px;
  width:29px;
  height:29px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
