body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:54px;
  width:120px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:28px;
  top:20px;
  width:79px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
