.right_list .titles{ width:100%; height:25px; line-height:25px; margin-top:10px; border-top:1px solid #CCCCCC;}
.right_list .title,.titles span{ font-weight:bold;}
.right_list .detail table{ margin-left:10px; margin-top:5px;}
.right_list .detail table td{ height:30px; text-align:left; line-height:30px;}
.right_list .detail table .tdw{ font-weight:bold;}
.right_list .detail table td span{overflow:hidden;text-overflow:ellipsis; display:block; height:30px; width:700px;}
.right_list .detail table td .span_color{ color:#FF2222;}
.right_list .follow_up .time{ display:block; font-weight:bold; width:76px; height:50px; line-height:25px; margin-left:5px;overflow:hidden;text-overflow:ellipsis;white-space:normal;float: left;}
.right_list .follow_up .m{ margin-top:5px; display:block; font-weight:bold; width:76px; height:25px; line-height:25px; margin-left:5px;overflow:hidden;text-overflow:ellipsis;}
.right_list .follow_up .bor_c{ width:86px; height:86px; border:1px solid #FF9627;float:left; display:inline; margin:10px;}
.right_list .follow_up .bor_h{ width:86px; height:86px; border:1px solid #CCCCCC;float:left; display:inline; margin:10px;}
.right_list .follow_up .bg_c{ width:30px; height:20px;float:left; display:inline; background:url(images/member/new/bg_pic1.jpg) no-repeat; margin-top:42px;}
.right_list .follow_up .bg_h{ width:30px; height:20px;float:left; display:inline; background:url(images/member/new/bg_pic2.jpg) no-repeat;margin-top:42px;}
.right_list .bill table{ margin-top:5px; margin-bottom:10px;}
.right_list .bill table td{ text-align:center;padding:5px 0px;}
.right_list .bill table td span{ color:#666666; overflow:hidden;text-overflow:ellipsis; display:block; height:20px; width:100%;}
.right_list .bill table td .span_color{ color:#D00620;}
.right_list .bill table .tr_bg{ background-color:#E5E5E5;}
.right_list .bill table .tr_bor td{ border-bottom:1px solid #CCCCCC;}
.right_list .bill table td.td_left{text-align:left;}
.right_list .total{ float:right; display:inline;}
.right_list .span_s{ color:#666666; margin-left:10px; text-align:left; display:block; height:20px; width:120px;overflow:hidden;text-overflow:ellipsis;}
.right_list .span_b{ font-size:14px; font-weight:600; display:block; height:20px; width:90px; float:left;overflow:hidden;text-overflow:ellipsis;}
.right_list .span_color{font-size:14px; color:#D00620; display:block; height:20px; float:left;overflow:hidden;text-overflow:ellipsis;}

#dispose{width:600px;margin:10px auto;text-align:left;overflow:hidden;}
#nowstatus{position:relative;}
#dispose_middle{width:100%;margin-left:13px;overflow:hidden;}
.dispose_middle_current{width:13px;height:13px;float:left;margin-left:5px;background:url(images/member/order_dispose_current.jpg) no-repeat;}
.dispose_middle_other{width:13px;height:13px;float:left;margin-left:5px;background:url(images/member/order_dispose_other.jpg) no-repeat;}
.dispose_middle_arrow{width:150px;height:13px;float:left;margin-left:5px;background:url(images/member/order_dispose_arrow.jpg) no-repeat;}
#dispose_down{position:relative;height:20px;}
#dispose_down span{position:absolute;top:0px;}
.dispose1{left:0px;}
.dispose2{left:172px;}
.dispose3{left:346px;}
.dispose4{left:531px;}
#genzong_tbl{width:100%;}
#genzong_tbl td{padding:3px 0px;}